<main class="mt-12 p-2">
  <section
    hlmCard
    class="flex w-full"
    style="height: 92.5vh;"
  >
    <!-- <email-menu-component class="h-1vh w-1/5" />
    <email-inbox-component
      [emailId]="emailId"
      [emailsCardData]="emailCardData"
      (emailIdChanged)="updateSelectedEmail($event)"
      (loadMoreEmails)="getEmailsCardData(false)"
      class="h-1vh w-2/5"
    />
    <mail-view
      [emailId]="emailId"
      [from]="selectedEmailData.from"
      [subject]="selectedEmailData.subject"
      [date]="selectedEmailData.date"
      class="h-1vh w-full"
      (refresh)="this.refresh();"
    /> -->
  </section>
</main>
